* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    background-image: url(../img/peso.jpg);
    background-size:1535px  800px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
}

.hide {
    display: none !important;
}

.container {
    min-width: 400px;
    min-height: 400px;
    background-color:transparent;
    border: solid;
    border-color: #1d1e33;
    padding: 2rem;
}

/* IMC FORM */

